{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Checkout{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% if g.user %}
        <p class="mt-5">Hi {{ g.user['firstname'] }},</p>
        <p> You checked in at {{ timeinsplittime.strftime('%I:%m %p')}} on {{time_in_loc.strftime('%b %d') }} <br />
           The time now is {{ time_now_loc.strftime('%I:%m %p on %b %d') }}</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="collapsed btn btn-link text-end text-end" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 Update Time
                </button>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                <form method="POST" action="/checkout">
                    <input type="hidden" name="checkout" id="checkout" value="1">
                    <div class="row align-items-center">
                        <div class="form-floating col-5">
                            <input type="time" name="timeinsplittime" class="form-control" value="{{timeinsplittime}}" >
                            <label for="timeinsplittime">Time In</label>
                        </div>
                        <div class="col-4">
                            <input type="submit" value="Update">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <h4 class="text-center mt-5">Would you like to check out?</h4>
    <form method="post" class="text-center">
        <input type="hidden" name="checkout" id="checkout" value="0">
        <input type="submit" class="btn btn-primary" value="Check Out">
    </form>
    {% else %}
    <p>Something has gone wrong. Please go back to the <a href="{{ url_for('auth.index') }}">homepage</a></p>
    {% endif %}
{% endblock %}