{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}Volunteer Sign In{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% if g.user %}
          <p class="mt-5">Welcome {{ g.user['nickname'] }},</p>

             {% if g.user['check_in_state'] %}
               <p>We've got you checked in at <strong>{{ time_in_loc.strftime('%I:%M %p on %b %d') }}</strong> <br />
                   would you like to <a href="{{ url_for('auth.checkout') }}">sign out?</a></p>

            {% else %}
                <p> You are <strong>signed out</strong>.</p>
               <p>You last signed in at <strong>{{ time_in_loc.strftime('%I:%M %p on %b %d') }}</strong> <br />
                   and signed out at <strong>{{ time_out_loc.strftime('%I:%M %p on %b %d') }}</strong></p>
   <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end bg-light">
                            <button class="collapsed btn btn-link text-end text-end" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                             Update Time
                            </button>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body bg-light">
                            <form method="POST" action="/">
                                <input type="hidden" name="which_form" id="which_form" value="update_time">
                                <input type="hidden" name="time_in_loc" id="time_in_loc" value="{{time_in_loc.date()}}" >

                                <div class="row align-items-center">
                                    <div class="form-floating col-6">

                                        <input type="time" id="timeinsplittime" name="timeinsplittime" class="form-control" value="{{ time_in_loc.strftime('%H:%M') }}" >
                                        <label for="timeinsplittime">Time In</label>
                                    </div>
                                    <div class="form-floating col-6">
                                        <input type="time" id="timeoutsplittime" name="timeoutsplittime" class="form-control" value="{{ time_out_loc.strftime('%H:%M') }}" >
                                        <label for="timeoutsplittime">Time Out</label>
                                    </div>
                                    <div class="col">
                                        <input type="submit" value="Update">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                 <h4 class="text-center pt-5">Would you like to sign in again?</h4>
             <form method="post" >
                 <div class="row align-items-center justify-content-center">
                     <div class="col-7">
                         <div class="form-floating">
                            <input type="hidden" name="which_form" id="which_form2" value="login">
                             <input type="text" class="form-control" name="phonenumber" id="phonenumber" placeholder="2515556666" required>
                             <label for="phonenumber">Phone Number</label>
                         </div>
                     </div>
                     <div class="col-3 ">
                        <input type="submit" value="Sign In" class="btn btn-primary">
                     </div>
                 </div>
             </form>
           {% endif %}
             <h4 class="text-center mt-5">Info Verification</h4>
   <p>We have the following information about you.<br />
    Phone: {{ g.user['phonenumber'] }}<br />
    Name: {{g.user['honorific_prefix'] or ''}} {{ g.user['given_name'] }} {{ g.user['family_name'] }} {{g.user['honorific_suffix'] or ''}}<br />
    Preferred Name: {{ g.user['nickname']}} <br />
    Preferred Pronouns: {{ g.user['pronouns'] or 'No pronouns provided'}}<br />
    Email: {{ g.user['email'] or 'No email provided'}}<br />
        Street Address:<br />
        {{ g.user['street_address'] or 'No address provided' }}<br />
        Zip Code: {{g.user['postal_code'] or 'No zip provided' }}<br />
        Organization: {{ g.user['organization'] or 'No organization specified' }}<br />
        I have had the Covid Immunization: {%if g.user['covid_immun']%}Yes{%else %}No{% endif%}<br />
        Monday email reminder: {% if g.user['monday_email'] %}Yes{% else %}No{% endif %}<br />
        Tuesday email reminder: {% if g.user['tuesday_email'] %}Yes{% else %}No{% endif %}</p>
                <p class="text-center">Something look wrong?
            <a href="{{ url_for('auth.update_info') }}" class="btn btn-text text-primary">Update Info</a></p>
    {% else %}
                <p class="mt-5">Welcome to the Love All Food Pantry volunteer time tracker!</p>
                <p>Please enter your phone number as all numbers like 2515556666</p>
    <form method="post" >
         <div class="row align-items-center justify-content-center pb-5 my-5">
             <div class="form-floating col-5">
                <input type="hidden" name="which_form" id="which_form3" value="login">
                 <input type="text" class="form-control" name="phonenumber" id="phonenumber2" placeholder="2515556666" required>
                 <label for="phonenumber">Phone Number</label>
             </div>
             <div class="col-3 ">
                <input type="submit" value="Check In" class="btn btn-primary">
             </div>
         </div>
    </form>
    {% endif %}
{% endblock %}