<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%  block title %}{% endblock %} - Love All Pantry</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  body { font: 1em Arial, SansSerif }
@page { size: letter; margin: 1in }
</style>
<section class="content">
<div>
  <h2 class="text-center">The Food Pantry at Central Release</h2>
    <p>This Release by <strong>{{ g.user['given_name']}} {{ g.user['family_name']}}</strong>,
    {{ admin_items['release']|safe }}
    </div>
  <div>
    <img src="{{ signature }}" style="vertical-align:middle; zoom: 80%; " /> DATE: {{ date }}<br />
    Signature
    </div>
  <div>
    <p>
   {% if covid_immun == '1' %}
    [X] I have had the Covid Immunization<br />
    [ &nbsp;] I have NOT had the Covid Immunization
    {% elif covid_immun == '0' %}
    [ &nbsp;] I have had the Covid Immunization <br />
    [X] I have NOT had the Covid Immunization
    {% endif %}
      </p>
  </div>

</section>