{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ g.user['given_name'] }}'s info.{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="tel-national" id="tel-national" value="{{ request.form['tel-national'] or g.user['phonenumber'] }}"  placeholder="2515551111" required>
        <label for="tel-national">Phone Number</label>
    </div>
     <div class="row mb-1 g-1">
         <div class="col-4">
             <div class="form-floating">
                <input type="text" class="form-control" name="honorific-prefix" id="honorific-prefix" placeholder="Honorific-prefix" value="{{ request.form['honorific-prefix'] or g.user['honorific_prefix'] }}">
                <label for="honorific-prefix">Prefix</label>
            </div>
         </div>
         <div class="col-8">
            <div class="form-floating">
                <input type="text" class="form-control" name="given-name" id="given-name" placeholder="First Name" value="{{ request.form['given-name'] or g.user['given_name'] }}" required>
                <label for="given-name">First Name</label>
            </div>
        </div>
     </div>

     <div class="row mb-3 g-1">
        <div class="col-8">
            <div class="form-floating">
                <input type="text" class="form-control" name="family-name" id="family-name"  placeholder="Last Name" value="{{ request.form['family-name'] or g.user['family_name'] }}" required>
                <label for="family-name">Last Name</label>
             </div>
        </div>
            <div class="col-4">
                <div class="form-floating">
                  <input type="text" class="form-control" name="honorific-suffix" id="honorific-suffix"  value="{{ request.form['honorific-suffix'] or g.user['honorific_suffix'] }}" placeholder="Suffix">
                 <label for="honorific-suffix">Suffix</label>
              </div>
         </div>
     </div>
     <div class="row mb-3 g-1">
         <div class="col-6">
             <div class="form-floating">
                <input type="text" class="form-control" name="pronouns" id="pronouns"  placeholder="Preferred Pronouns" value="{{ request.form['pronouns'] or g.user['pronouns'] }}">
                <label for="pronouns">Preferred Pronouns</label>
             </div>
         </div>
         <div class="col-6">
             <div class="form-floating">
                <input type="text" class="form-control" name="nickname" id="nickname"  placeholder="Preferred Name" value="{{ request.form['nickname'] or g.user['nickname'] }}" required>
                <label for="pronouns">Preferred Name</label>
            </div>
         </div>
     </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="email"  placeholder="name@example.com" value="{{ request.form['email'] or g.user['email'] }}">
        <label for="email">Email</label>
    </div>
     <div class="form-floating mb-1">
        <input type="text" class="form-control" name="street-address" id="street-address"  placeholder="street-address" value="{{ request.form['street-address'] or g.user['street_address'] }}">
        <label for="street-address">Street Address</label>
    </div>
     <div class="form-floating mb-3">
        <input type="text" class="form-control" name="postal-code" id="postal-code"  placeholder="postal-code" value="{{ request.form['postal-code'] or g.user['postal_code'] }}">
        <label for="postal-code">Zip Code</label>
    </div>
     <div class="form-floating mb-3">
        <input type="text" class="form-control" name="organization" id="organization"  placeholder="Organization" value="{{ request.form['organization'] or g.user['organization'] }}">
        <label for="organization">Organization (optional)</label>
    </div>
    <div class="mb-3 form-check">
        <div class="form-check">
             <input class="form-check-input" type="radio" name="covid_immunization" id="covid_immunization_yes" {% if g.user['covid_immun'] %}checked{% endif%}>
             <label class="form-check-label" for="covid_immunization_yes">
                 I have had the Covid Immunization
             </label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="covid_immunization" id="covid_immunization_no" {% if not g.user['covid_immun'] %} checked{% endif %}>
             <label class="form-check-label" for="covid_immunization_no">
                 I have NOT had the Covid Immunization
             </label>
         </div>
    </div>

         <p >Would you like to receive email reminders with a link to sign in?</p>
        <div class="mb-4">
          <div class="form-check">
    <input type="checkbox" class="form-check-input" id="monday-morning" name="checkboxes" value="mon" {% if g.user['monday_email'] %}checked{% endif %}>
    <label class="form-check-label" for="monday-morning">Monday Morning</label>
  </div>
     <div class="form-check">
    <input type="checkbox" class="form-check-input" id="tuesday-morning" name="checkboxes" value="tues" {% if g.user['tuesday_email'] %}checked{% endif %}>
    <label class="form-check-label" for="tuesday-morning">Tuesday Morning</label>
  </div>
        </div>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-secondary" href="{{url_for('auth.index')}}" role="button">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Update Info">
    </div>
 </form>

{% endblock %}